<script lang="ts">
	import "nes.css/css/nes.min.css";
	export let name: string;
</script>

<div id="nescss">
	<header>
		<div class="container">
			<div class="nav-brand">
				<a href="/">
					<h1>
						<i class="snes-jp-logo brand-logo" />
						Tanuki Adventures
					</h1>
				</a>
			</div>
		</div>
	</header>
	<div class="container">
		<main class="main-content">
			<section class="nes-container with-title">
				<h3 class="title">Your Adventure</h3>
				<div class="mainGrid">
					<section class="mainText message-list">
						<section class="message -right">
							<div class="nes-balloon from-right">
								Are you new to Git or version control in
								general? Start here to learn about the basics
								that GitLab is based on: source control, version
								management, git and the surrounding concepts.
							</div>
							<i class="nes-bcrikko" />
						</section>
					</section>
					<div class="mainVideo">
						<img
							src="http://fpoimg.com/325x200?text=Video"
							alt="placeholder video"
						/>
					</div>
				</div>
				<div class="nes-container interactiveGrid">
					<div class="tabs">
						<button type="button" class="nes-btn"> GitLab </button>
						<button type="button" class="nes-btn is-dark">
							Terminal
						</button>
					</div>
					<div class="is-dark-div terminal">
						<div class="terminalInput">
							<input
								type="text"
								id="dark_field"
								class="nes-input is-dark"
								placeholder="Enter command"
							/>
						</div>
						<div class="prevCommands">
							<span class="prevLine">fooooo</span>
							<span class="prevLine">bar</span>
							<span class="prevLine">baz</span>
						</div>
					</div>
				</div>
			</section>
		</main>
	</div>
</div>

<style>
	.mainGrid {
		display: grid;
		grid-template-columns: auto 325px;
	}
	.mainGrid div {
		margin-right: 1.5rem;
	}
	.interactiveGrid {
		margin-top: 1rem;
	}
	.terminal {
		margin-top: 1rem;
		min-height: 20vh;
		vertical-align: baseline;
		padding: 0.5rem;
		display: flex;
		flex-direction: column-reverse;
	}
	.prevCommands {
		display: flex;
		flex-direction: column;
	}
</style>
